/* 
Style Hints: 

Body Font Size = 14px
	 Font Family = "Times New Roman", serif
	 Font Color = black
	 Background: #F3EBE9

H1 Font Size = 50px
   Font Family = Arial, Helvetica, sans-serif
   Text-transform: uppercase;
   color: #FFFFFF;	(White)

H2: Font Size = 18px
	Text-Transform: uppercase;
	Font-Family: cursive, Helvetica, sans-serif;

*/



body {
	font-size: 14px;
	font-family: 'Times New Roman', Times, serif;
	color: black;

	size: 300px;
}
.wholePage{
	margin: 0 auto;
	width: 800px;
	
	
}
.mainImage {
	width: 800px;
}

h1 {
	font-size: 50px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #FFFFFF;
}

h2 {
	font-size: 18px;
	text-transform: uppercase;
	font-family: cursive, Helvetica, sans-serif;
	color: black
}

h3 {
	font-size: 20px;
	font-family: cursive, Helvetica, sans-serif;
	text-decoration: underline;
	padding: 10px 0;
}

.header {
	background-color: #f0776e;
	height: 90px;
}

.page {
	margin: 0 auto;
	padding: 10px;
	background: #FFFFFF;
}
.photos {
	width: 800px;
	background-color:  #FFFFFF;
}
.images1 {
	margin: 5px;
	width: 160px;
	background-color:  #FFFFFF;
	border: 3px solid rgb(151, 151, 151);
}
footer {
	background-color: #f0776e;
	height: 20px;
	text-align: right;
	color: white;
	padding: 5px;
}
html {
	background: url("../images/pattern1.png") rgb(184, 182, 182);
}